.flex {
    display: flex
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.f-1 {
    flex: 1
}

.ai-c {
    align-items: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-32 {
    font-size: 32px;
}

.fw {
    font-weight: 700;
}

.ta-c {
    text-align: center;
}

.w-100 {
    width: 100%
}

.w-80 {
    width: 80%
}

.w-60 {
    width: 60%
}

.w-50 {
    width: 50%
}

.w-40 {
    width: 40%
}

.w-20 {
    width: 20%
}

.lh-30 {
    line-height: 30px;
}

.lh-40 {
    line-height: 40px;
}

.br-50 {
    border-radius: 50%;
}

.ccc {
    color: #ccc
}

.el-breadcrumb {
    margin-bottom: 30px;
}